#Breadcrumb{
    list-style: none;
    padding: .9rem;
    margin-bottom: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px gainsboro;
    a{font-weight: 600;}
    .current-item {
        font-weight: 600;
        font-size: 1.09rem;
    }
}