.dropdown-content{
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    top: 55px;
    right: 45px;
    padding:20px;
  }
  .close-dropdown{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparent;
  }
  //--Dark Mode---
  .darkmode {
      .dropdown-content{
          color:whitesmoke;
      }
    }