//Les mots du maire
#Mots-maire{
    article{
        header{
            display: flex;
            flex-flow: wrap row;

        }
        .alert{font-size: 1em;}
        main{
            padding: .75rem;
            .subtile{color: #1E73BE;font-weight: 600;}
        }
    }
}